# Ignoring MacOS service files
.DS_Store

# Ignore python venv
.venv/
venv/
ENV/

# Ignore pycache
__pycache__/

# Ignore IDE
.idea/
.vscode/

# Ignore credential files
# ! WARNING VERY IMPORTANT IGNORE
*credentials.json
secrets/
.env
# Ignore logs
logs/
*.log

# Ignore program service data:
data/