CREDENTIALS_FILE = "/secrets/secret.json"
GOOGLE_DRIVE_FOLDER_ID = "1rdzwu35kPS8liT7hlMeMlUB8f4WWQ3NW"
GROUP_DATA_FILE = "table_api/group.json"
TOPIC_DATA_FILE = "table_api/topic_data.json"
SCHEDULE_DATA_FILE = "table_api/schedule_data.json"